html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none !important;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
:root {
  --bs-btn-bg: $accent-color;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

a {
  text-decoration: none;
}

.btn {
  color: white !important;
  border-color: transparent !important;
}

.button-regular {
  background-color: #3A68B8;
  color: #FFFFFF;
  border: 2px solid #3A68B8;
  border-radius: 5px;
  padding: 14px 28px;
  text-decoration: none;
}
.button-regular:hover {
  background-color: transparent;
  color: #3A68B8;
  transition: 0.5s;
}

.navbar-toggler {
  color: white !important;
  background-color: #3A68B8 !important;
}

:root {
  --bs-btn-bg: $accent-color;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("../fonts/OpenSans-Medium.woff2") format("woff2"), url("../fonts/OpenSans-Medium.woff") format("woff"), url("../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../fonts/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: black;
  padding: 10px 0 10px;
}
.header .navbar {
  background-color: black !important;
}
.header__logo-text {
  color: #3A68B8;
  font-size: 23px;
  font-weight: 600;
}
.header__navigation-bar {
  margin-left: 84px !important;
  gap: 20px;
}
.header__navigation-bar li > a {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.header__navigation-bar li > a:hover {
  color: #3A68B8;
  transition: 0.5s;
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .header__navigation-bar li > a:hover {
    transform: scale(1);
  }
  .header__form-sign-in {
    justify-content: end;
  }
}
@media (max-width: 972px) {
  .header__navigation-bar {
    margin-left: 0 !important;
  }
}
@media (max-width: 384px) {
  .header .navbar-toggler {
    margin: 0 auto;
  }
  .header__navigation-bar {
    margin-top: 20px;
  }
}
.banner {
  /*
  background-color: $bg-color;

   */
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(9, 9, 121) 35%, rgb(0, 212, 255) 100%);
  /* Upper part */
  /* Upper part - right side */
  /* Bottom part */
}
.banner__upper-part {
  padding: 150px 0 200px;
}
.banner__subtitles {
  color: #3A68B8;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.banner__title {
  color: #FFFFFF;
  font-weight: 800;
  max-width: 604px;
  text-align: left;
  font-size: 55px;
}
.banner__description {
  margin-top: 40px;
  color: #FFFFFF;
  text-align: left;
  font-weight: 600;
  font-size: 15px;
  opacity: 0.8;
  max-width: 558px;
}
.banner__control-panel {
  margin-top: 50px;
  display: flex;
  gap: 20px;
}
.banner__right-side-upper {
  position: relative;
}
.banner__right-side-upper figure {
  position: absolute;
  top: -110px;
}
.banner__bottom-part {
  padding: 40px 0 40px;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .banner__upper-part {
    padding: 30px 0 0;
    flex-direction: column;
    align-items: center;
  }
  .banner .col-6 {
    width: 100%;
    text-align: center;
  }
  .banner__left-side-upper {
    text-align: center;
  }
  .banner__right-side-upper {
    margin: 40px 0 0 160px;
    position: static;
    width: 100%;
  }
  .banner__right-side-upper figure {
    position: static;
  }
  .banner__title {
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .banner__description {
    width: 100%;
    margin: 30px auto;
    text-align: center;
  }
  .banner__bottom-part {
    gap: 20px;
  }
  .banner__control-panel {
    justify-content: center;
  }
}
@media (max-width: 864px) {
  .banner__right-side-upper {
    margin: 30px 0 0;
    width: 85%;
  }
}
@media (max-width: 460px) {
  .banner__control-panel {
    flex-direction: column;
    align-items: center;
  }
  .banner__bottom-part {
    flex-direction: column;
    align-items: center;
  }
}
.data {
  background: black;
  padding: 130px 0 130px;
  /* Right side */
  /* Left side */
}
.data__title {
  margin-top: 150px;
  /*
  margin-left: 50px;

   */
  color: #FFFFFF;
  font-weight: 700;
  font-size: 40px;
  max-width: 484px;
}
.data__description {
  margin-top: 15px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  max-width: 460px;
  opacity: 0.6;
}
.data__control {
  margin-top: 40px;
}
.data__wrapper-picture {
  margin-left: -50px;
}

@media (max-width: 992px) {
  .data {
    /*
    &__title {
      text-align: center;
      margin-left: 0;
    }
    &__description {
      text-align: center;
      margin-left: 0;
    }
    &__wrapper-control {
      text-align: center;
    }
    &__control {
      margin-left: 0;
    }
     */
  }
  .data__wrapper-main-content {
    flex-direction: column;
  }
  .data__left-side {
    margin: 0 auto;
  }
  .data__left-side figure {
    margin: 0;
  }
  .data__right-side {
    margin: 0 auto 60px;
  }
}
@media (max-width: 768px) {
  .data {
    padding: 30px 0 30px;
  }
  .data__wrapper-main-content > .col-6 {
    width: 100%;
  }
}
.perspective {
  background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(140, 29, 204) 42%, rgb(0, 212, 255) 100%);
  padding: 30px 0 60px;
}
.perspective__wrapper {
  gap: 18px;
}
.perspective__card {
  border-radius: 20px;
}
.perspective__card figure > img {
  margin: 46px auto 0;
}
.perspective__card:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #6F5EFF;
  box-shadow: 5px 5px 15px 5px #6F5EFF;
  transition: 0.4s;
  transform: scale(1.05);
}
.perspective__card-title {
  margin-top: 30px;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
}
.perspective__card-description {
  margin-top: 20px;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;
  color: #f0f0f0;
}
.perspective__icon-card {
  width: 100%;
  max-width: 78px;
}
.perspective__icon-card-one {
  width: 100%;
  max-width: 88px;
}
.perspective .carousel-item {
  padding: 30px 30px 30px;
}
.perspective .carousel-indicators {
  bottom: -46px;
}

@media (max-width: 998px) {
  .perspective__wrapper {
    flex-direction: column;
  }
}
.solutions {
  background-color: black;
  padding: 160px 0 120px;
  /* Left side */
  /* Right side */
}
.solutions__title {
  color: #FFFFFF;
  max-width: 548px;
  font-weight: 700;
  font-size: 40px;
}
.solutions__description-one {
  margin-top: 24px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 460px;
  opacity: 0.7;
}
.solutions__description-two, .solutions__description-three, .solutions__description-four {
  margin-top: 10px;
  font-weight: 600;
  font-size: 16px;
  color: #FFFFFF;
  max-width: 460px;
  opacity: 0.7;
}
.solutions__picture {
  margin-left: -100px;
  margin-top: -50px;
}

@media (max-width: 1200px) {
  .solutions {
    padding: 80px 0 60px;
  }
  .solutions__picture {
    margin: 0;
  }
}
@media (max-width: 992px) {
  .solutions__wrapper {
    flex-direction: column;
  }
  .solutions .col-6 {
    width: 100%;
    text-align: center;
  }
  .solutions__title, .solutions__description-one, .solutions__description-two, .solutions__description-three, .solutions__description-four {
    margin: 0 auto;
  }
  .solutions__picture {
    margin: 40px auto 0;
  }
}
.footer {
  background-color: black;
  padding: 0 0 100px;
  /* Left part */
  /* Mid part */
  /* Right side */
}
.footer__logo {
  font-size: 16px;
  color: #3A68B8;
  font-weight: 600;
}
.footer__description {
  margin-top: 10px;
  max-width: 262px;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__wrapper-contacts {
  margin-top: 36px;
}
.footer__contact {
  font-size: 14px;
  font-weight: 500;
  color: #FFFFFF;
  margin: 6px 0 0 10px;
}
.footer__wrapper-mid-content {
  justify-content: space-between;
  gap: 30px;
}
.footer__title-inform {
  margin-top: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 16px;
}
.footer__right-side-text {
  margin-top: 28px;
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__item-text {
  font-size: 14px;
  color: #FFFFFF;
  opacity: 0.7;
}
.footer__wrapper-information-items {
  margin-top: 32px;
  gap: 17px;
}
.footer__link {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
}
.footer__networks-links {
  margin-top: 20px;
  gap: 30px;
}
.footer__control-language {
  margin-top: 50px;
}
.footer__button-language {
  color: #FFFFFF;
}

@media (max-width: 1199px) {
  .footer__wrapper-information-items {
    gap: 22px;
  }
}
@media (max-width: 992px) {
  .footer__wrapper-information-items {
    gap: 10px;
  }
  .footer__wrapper-footer-content {
    flex-direction: column;
    align-items: center;
  }
  .footer__wrapper-footer-content .col-3 {
    width: 100%;
  }
  .footer__wrapper-footer-content .col-6 {
    width: 100%;
  }
  .footer__logo-image {
    margin: 0 auto;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__description {
    margin: 0 auto;
    text-align: center;
  }
  .footer__location, .footer__phone, .footer__mail {
    justify-content: center;
  }
  .footer__title-inform, .footer__right-side-text {
    text-align: center;
  }
  .footer__wrapper-link-site {
    text-align: center;
  }
  .footer__networks-links {
    justify-content: center;
  }
  .footer__control-language {
    text-align: center;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
