html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
  }
}
:root {
  --bs-btn-bg: $accent-color;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.button-regular {
  background-color: #3A68B8;
  color: #FFFFFF;
  border: 2px solid #3A68B8;
  border-radius: 5px;
  padding: 14px 28px;
  text-decoration: none;
}
.button-regular:hover {
  background-color: black;
  color: #3A68B8;
  transition: 0.5s;
}

.navbar-toggler {
  color: white !important;
  background-color: #3A68B8 !important;
}

:root {
  --bs-btn-bg: $accent-color;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Medium"), local("OpenSans-Medium"), url("../../fonts/OpenSans-Medium.woff2") format("woff2"), url("../../fonts/OpenSans-Medium.woff") format("woff"), url("../../fonts/OpenSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url("../../fonts/OpenSans-SemiBold.woff2") format("woff2"), url("../../fonts/OpenSans-SemiBold.woff") format("woff"), url("../../fonts/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url("../../fonts/OpenSans-Regular.woff2") format("woff2"), url("../../fonts/OpenSans-Regular.woff") format("woff"), url("../../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans ExtraBold Italic"), local("OpenSans-ExtraBoldItalic"), url("../../fonts/OpenSans-ExtraBoldItalic.woff2") format("woff2"), url("../../fonts/OpenSans-ExtraBoldItalic.woff") format("woff"), url("../../fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../../fonts/OpenSans-Bold.woff2") format("woff2"), url("../../fonts/OpenSans-Bold.woff") format("woff"), url("../../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
.header {
  background-color: black;
  padding: 10px 0 10px;
  /*
  &__button-sign-in {
    background-color: $accent-color;
    color: $usual-color;
    border: 2px solid $accent-color;
    border-radius: 5px;
    padding: 14px 28px;
    text-decoration: none;
    &:hover {
      background-color: black;
      color: $accent-color;
      transition: .5s;
    }
  }
   */
}
.header .navbar {
  background-color: black !important;
}
.header__logo-text {
  color: #3A68B8;
  font-size: 23px;
  font-weight: 600;
}
.header__navigation-bar {
  margin-left: 84px !important;
  gap: 20px;
}
.header__navigation-bar li > a {
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
}
.header__navigation-bar li > a:hover {
  color: #3A68B8;
  transition: 0.5s;
  transform: scale(1.2);
}

@media (max-width: 992px) {
  .header__navigation-bar li > a:hover {
    transform: scale(1);
  }
  .header__form-sign-in {
    justify-content: end;
  }
}

/*# sourceMappingURL=stylesheet.css.map */
