.data {
  background: $bg-color;
  padding: 130px 0 130px;

  /* Right side */

  &__title {
    margin-top: 150px;
    margin-left: 50px;
    color: $usual-color;
    font-weight: 700;
    font-size: 40px;
    max-width: 484px;
  }
  &__description {
    margin-left: 50px;
    margin-top: 15px;
    color: $usual-color;
    font-weight: 600;
    font-size: 16px;
    max-width: 460px;
    opacity: 0.6;
  }
  &__control {
    margin-top: 40px;
    margin-left: 50px;
  }

  /* Left side */

  &__wrapper-picture {
    margin-left: -50px;
  }
}