@media (max-width: 992px) {
  .data {
    &__wrapper-main-content {
      flex-direction: column;

    }
    &__left-side {
      margin: 0 auto;
      figure {
        margin: 0;
      }
    }
    &__right-side {
      margin: 0 auto 60px;
    }
    /*
    &__title {
      text-align: center;
      margin-left: 0;
    }
    &__description {
      text-align: center;
      margin-left: 0;
    }
    &__wrapper-control {
      text-align: center;
    }
    &__control {
      margin-left: 0;
    }
     */
  }
}

@media (max-width: 768px) {
  .data {
    padding: 30px 0 30px;
    &__wrapper-main-content > .col-6  {
      width: 100%;
    }
  }
}