.perspective {
  background: $color-gradient-one;
  padding: 30px 0 60px;
  &__wrapper {
    gap: 18px;
  }
  &__card {
    background-color: #6666ff;
    border-radius: 20px;
    figure > img {
      margin: 46px auto 0;
    }
    &:hover {
      -webkit-box-shadow: 5px 5px 15px 5px #6F5EFF;
      box-shadow: 5px 5px 15px 5px #6F5EFF;
      transition: 0.4s;
      transform: scale(1.05);
    }
  }
  &__card-title {
    margin-top: 30px;
    font-size: 24px;
    text-align: center;
  }

  &__card-description {
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    opacity: 0.7;
  }
  &__icon-card {
    width: 100%;
    max-width: 78px;
  }
  &__icon-card-one {
    width: 100%;
    max-width: 88px;
  }

  .carousel-item {
    padding: 30px 0 30px;
  }
  .carousel-indicators {
    bottom: -46px;
  }


}